# Data Set Up

In [86]:
!pip install pyathena

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Requirement already satisfied: pyathena in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (2.3.0)
Requirement already satisfied: tenacity>=4.1.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyathena) (8.0.1)
Requirement already satisfied: boto3>=1.4.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyathena) (1.19.3)
Requirement already satisfied: botocore>=1.5.52 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyathena) (1.22.3)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3>=1.4.4->pyathena) (0.5.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3>=1.4.4->pyathena) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->pyathena) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->pyathena) (1.26.7)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.5.52->pyathena) (1.16.0)
WARNING: You are using pip version 21.3; however, version 21.3.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.

In [87]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm
from numpy import intersect1d
from datetime import datetime
from pyathena import connect

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [88]:
from ethereum import (
    timestamp_to_datetime,
    EthereumData
)
from utils import (
    latest,
    lead_lag,
    add_latest_avail_block,
    lagged_block_data
)

# Get Data from DB

In [89]:
conn = connect(
    s3_staging_dir='s3://sagemaker-w210-eth/raw_data/August/',
    region_name='us-west-2'
)

## Blocks

In [155]:
cols = [
    'number', 'difficulty', 'total_difficulty', 'size', 'gas_limit', 
    'gas_used', 'timestamp', 'transaction_count', 'base_fee_per_gas'
]
# where number between 12967000 and 12968000
blocks_df = pd.read_sql(f"SELECT {', '.join(cols)} FROM ethereumetl.blocks ", conn)
blocks_df.shape

(1001, 9)

In [156]:
blocks_df.head()

,number,difficulty,total_difficulty,size,gas_limit,gas_used,timestamp,transaction_count,base_fee_per_gas
0,12967018,None,None,67648,29305316,17823121,1628194104,189,5.647233e+10
1,12967019,None,None,4801,29276699,1380627,1628194106,29,5.799973e+10
2,12967020,None,None,149641,29305288,29294937,1628194119,355,5.143355e+10
3,12967021,None,None,101309,29276671,24158397,1628194143,311,5.785820e+10
4,12967022,None,None,19307,29248082,4302099,1628194174,65,6.256173e+10

In [157]:
# set index and add readable timestamp
blocks_df = blocks_df.set_index('number')
blocks_df['timestamp_2'] = pd.to_datetime(blocks_df['timestamp'], unit='s')

In [158]:
blocks_df = blocks_df.sort_index()

In [159]:
blocks_df.head()

,difficulty,total_difficulty,size,gas_limit,gas_used,timestamp,transaction_count,base_fee_per_gas,timestamp_2
number,,,,,,,,,
12967000,None,None,120526,29134367,29133470,1628193763,359,4.452760e+10,2021-08-05 20:02:43
12967001,None,None,140900,29105917,29100379,1628193812,280,5.009321e+10,2021-08-05 20:03:32
12967002,None,None,30800,29077495,8090478,1628193818,110,5.635247e+10,2021-08-05 20:03:38
12967003,None,None,115073,29049101,29028978,1628193836,355,5.322827e+10,2021-08-05 20:03:56
12967004,None,None,135160,29077468,21130789,1628193911,278,5.987259e+10,2021-08-05 20:05:11

In [160]:
blocks_df['base_fee_per_gas'].describe()

count    1.001000e+03
mean     4.450553e+10
std      7.839646e+09
min      2.818995e+10
25%      3.900565e+10
50%      4.285157e+10
75%      4.846178e+10
max      6.921873e+10
Name: base_fee_per_gas, dtype: float64

#### Create percent changes in variables

In [161]:
cols = ['difficulty', 'total_difficulty', 'size', 'gas_limit', 'base_fee_per_gas']
for col in cols:
    blocks_df[col+'_pct_chg'] = blocks_df[col]/blocks_df[col].shift(1)-1

In [162]:
blocks_df.tail()

,difficulty,total_difficulty,size,gas_limit,gas_used,timestamp,transaction_count,base_fee_per_gas,timestamp_2,difficulty_pct_chg,total_difficulty_pct_chg,size_pct_chg,gas_limit_pct_chg,base_fee_per_gas_pct_chg
number,,,,,,,,,,,,,,
12967996,None,None,140168,29941410,29923424,1628207211,305,3.719749e+10,2021-08-05 23:46:51,NaN,NaN,0.139299,-0.000977,0.124921
12967997,None,None,45174,29970648,9806829,1628207220,120,4.184159e+10,2021-08-05 23:47:00,NaN,NaN,-0.677715,0.000977,0.124850
12967998,None,None,31605,29999915,6575067,1628207237,78,4.003418e+10,2021-08-05 23:47:17,NaN,NaN,-0.300372,0.000977,-0.043196
12967999,None,None,135303,29970620,16069754,1628207246,150,3.722348e+10,2021-08-05 23:47:26,NaN,NaN,3.281063,-0.000977,-0.070208
12968000,None,None,36287,29999887,7615071,1628207247,111,3.756020e+10,2021-08-05 23:47:27,NaN,NaN,-0.731809,0.000977,0.009046

#### Calculate lagged variables from blocks to join to PIT

In [163]:
cols = ['difficulty', 'total_difficulty', 'size', 'gas_limit', 'base_fee_per_gas']
for col in cols:
    # Last 5 blocks
    blocks_df[col+'_pct_chg_last_5'] = blocks_df[col]/blocks_df[col].shift(5)-1
    # 25 blocks ago to 5 blocks ago percentage changes
    blocks_df[col+'_pct_chg_last_25_to_5'] = blocks_df[col].shift(5)/blocks_df[col].shift(25)-1
    # 50 blocks ago to 5 blocks ago percentage changes
    blocks_df[col+'_pct_chg_last_50_to_5'] = blocks_df[col].shift(5)/blocks_df[col].shift(50)-1
    # 100 blocks ago to 5 blocks ago percentage changes
    blocks_df[col+'_pct_chg_last_100_to_5'] = blocks_df[col].shift(5)/blocks_df[col].shift(100)-1

In [164]:
blocks_df.head()

,difficulty,total_difficulty,size,gas_limit,gas_used,timestamp,transaction_count,base_fee_per_gas,timestamp_2,difficulty_pct_chg,total_difficulty_pct_chg,size_pct_chg,gas_limit_pct_chg,base_fee_per_gas_pct_chg,difficulty_pct_chg_last_5,difficulty_pct_chg_last_25_to_5,difficulty_pct_chg_last_50_to_5,difficulty_pct_chg_last_100_to_5,total_difficulty_pct_chg_last_5,total_difficulty_pct_chg_last_25_to_5,total_difficulty_pct_chg_last_50_to_5,total_difficulty_pct_chg_last_100_to_5,size_pct_chg_last_5,size_pct_chg_last_25_to_5,size_pct_chg_last_50_to_5,size_pct_chg_last_100_to_5,gas_limit_pct_chg_last_5,gas_limit_pct_chg_last_25_to_5,gas_limit_pct_chg_last_50_to_5,gas_limit_pct_chg_last_100_to_5,base_fee_per_gas_pct_chg_last_5,base_fee_per_gas_pct_chg_last_25_to_5,base_fee_per_gas_pct_chg_last_50_to_5,base_fee_per_gas_pct_chg_last_100_to_5
number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
12967000,None,None,120526,29134367,29133470,1628193763,359,4.452760e+10,2021-08-05 20:02:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12967001,None,None,140900,29105917,29100379,1628193812,280,5.009321e+10,2021-08-05 20:03:32,NaN,NaN,0.169042,-0.000977,0.124992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12967002,None,None,30800,29077495,8090478,1628193818,110,5.635247e+10,2021-08-05 20:03:38,NaN,NaN,-0.781405,-0.000977,0.124952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12967003,None,None,115073,29049101,29028978,1628193836,355,5.322827e+10,2021-08-05 20:03:56,NaN,NaN,2.736136,-0.000976,-0.055440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12967004,None,None,135160,29077468,21130789,1628193911,278,5.987259e+10,2021-08-05 20:05:11,NaN,NaN,0.174559,0.000977,0.124827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
blocks_df.describe()

,size,gas_limit,gas_used,timestamp,transaction_count,base_fee_per_gas,size_pct_chg,gas_limit_pct_chg,base_fee_per_gas_pct_chg,size_pct_chg_last_5,size_pct_chg_last_25_to_5,size_pct_chg_last_50_to_5,size_pct_chg_last_100_to_5,gas_limit_pct_chg_last_5,gas_limit_pct_chg_last_25_to_5,gas_limit_pct_chg_last_50_to_5,gas_limit_pct_chg_last_100_to_5,base_fee_per_gas_pct_chg_last_5,base_fee_per_gas_pct_chg_last_25_to_5,base_fee_per_gas_pct_chg_last_50_to_5,base_fee_per_gas_pct_chg_last_100_to_5
count,1001.000000,1.001000e+03,1.001000e+03,1.001000e+03,1001.000000,1.001000e+03,1000.000000,1000.000000,1000.000000,996.000000,976.000000,951.000000,901.000000,996.000000,976.000000,951.000000,901.000000,996.000000,976.000000,951.000000,901.000000
mean,74384.190809,2.984144e+07,1.536109e+07,1.628201e+09,174.716284,4.450553e+10,5.564839,0.000030,0.003761,3.499322,3.346290,3.896573,3.798527,0.000152,0.000577,0.001234,0.002677,0.004189,-0.001346,-0.010576,-0.034183
std,54235.581450,2.625489e+05,1.064436e+07,3.905558e+03,126.736543,7.839646e+09,26.952593,0.000872,0.089178,18.804164,18.010285,20.516355,20.379808,0.001704,0.002732,0.003626,0.005631,0.108505,0.134797,0.166714,0.163200
min,537.000000,2.904910e+07,0.000000e+00,1.628194e+09,0.000000,2.818995e+10,-0.997165,-0.000977,-0.125000,-0.997427,-0.997369,-0.996485,-0.998040,-0.004873,-0.007791,-0.007791,-0.007789,-0.295313,-0.389268,-0.414373,-0.461227
25%,26117.000000,2.988046e+07,5.465242e+06,1.628197e+09,62.000000,3.900565e+10,-0.714839,-0.000977,-0.079299,-0.594687,-0.585090,-0.610338,-0.608628,-0.000978,-0.000976,-0.000977,-0.000007,-0.065943,-0.096635,-0.124856,-0.150550
50%,64511.000000,2.997065e+07,1.352129e+07,1.628200e+09,152.000000,4.285157e+10,-0.079517,0.000000,-0.010761,-0.010453,0.062271,0.005043,0.009051,0.000000,0.000000,0.000022,0.000976,-0.006893,-0.021178,-0.018242,-0.056124
75%,117693.000000,2.999997e+07,2.838461e+07,1.628204e+09,277.000000,4.846178e+10,2.773031,0.000977,0.112417,1.396136,1.426699,1.560455,1.488038,0.000975,0.001945,0.002912,0.002936,0.065039,0.087115,0.082902,0.079754
max,274436.000000,3.005862e+07,3.004458e+07,1.628207e+09,672.000000,6.921873e+10,377.355680,0.000977,0.124999,291.357798,268.554935,303.561243,276.600368,0.004892,0.009803,0.014734,0.022769,0.502709,0.491052,0.612722,0.679568

## Transactions

In [166]:
import datetime
print(pd.Timestamp.now())

2021-10-31 16:01:11.928930

In [167]:
cols = [
    'transaction_id', 'block_number', 'transaction_index', 'value', 
    'gas', 'gas_price', 'block_timestamp', 'max_fee_per_gas', 'max_priority_fee_per_gas',
    'transaction_type'
]

# where block_number between 12967000 and 12968000

transactions_df = pd.read_sql(f"SELECT {', '.join(cols)} FROM ethereumetl.transactions_small ", conn)
transactions_df.shape

KeyboardInterrupt:

In [ ]:
print(pd.Timestamp.now())

In [107]:
transactions_df['block_timestamp_2'] = pd.to_datetime(transactions_df['block_timestamp'], unit='s')

In [108]:
transactions_df.head()

,transaction_id,block_number,transaction_index,value,gas,gas_price,block_timestamp,max_fee_per_gas,max_priority_fee_per_gas,transaction_type,block_timestamp_2
0,1296763200026,12967632,26,NaN,207128,120000000000,1628202297,NaN,NaN,0,2021-08-05 22:24:57
1,1296763200046,12967632,46,NaN,21000,87000000000,1628202297,NaN,NaN,0,2021-08-05 22:24:57
2,1296763200063,12967632,63,0.0,316777,63800000000,1628202297,NaN,NaN,0,2021-08-05 22:24:57
3,1296763200082,12967632,82,0.0,400000,59000001561,1628202297,NaN,NaN,0,2021-08-05 22:24:57
4,1296763200212,12967632,212,NaN,45038,45000000000,1628202297,NaN,NaN,0,2021-08-05 22:24:57

## Receipts

In [110]:
cols = [
    'transaction_id', 'block_number', 'cumulative_gas_used',
    'gas_used', 'status', 'effective_gas_price'
]

# where block_number between 12967000 and 12968000

receipts_df = pd.read_sql(f"SELECT {', '.join(cols)} FROM ethereumetl.receipts_small  ", conn)
receipts_df.shape

(174891, 6)

In [111]:
receipts_df.head()

,transaction_id,block_number,cumulative_gas_used,gas_used,status,effective_gas_price
0,1296789800207,12967898,14061037,21000,1,52000000000
1,1296789800034,12967898,2295347,21000,1,120000000000
2,1296789800051,12967898,2760305,21000,1,71000000000
3,1296789800053,12967898,2992026,102903,1,70184027624
4,1296789800102,12967898,5401838,46609,1,51700000000

## Merge Transactions and Receipts

In [112]:
transactions_receipts_df = transactions_df.merge(receipts_df,
                                             how='inner',
                                             left_on=['transaction_id', 'block_number'],
                                             right_on=['transaction_id', 'block_number'])
transactions_receipts_df.shape

(174891, 15)

In [113]:
transactions_receipts_df.head()

,transaction_id,block_number,transaction_index,value,gas,gas_price,block_timestamp,max_fee_per_gas,max_priority_fee_per_gas,transaction_type,block_timestamp_2,cumulative_gas_used,gas_used,status,effective_gas_price
0,1296763200026,12967632,26,NaN,207128,120000000000,1628202297,NaN,NaN,0,2021-08-05 22:24:57,1020188,21000,1,120000000000
1,1296763200046,12967632,46,NaN,21000,87000000000,1628202297,NaN,NaN,0,2021-08-05 22:24:57,1514129,21000,1,87000000000
2,1296763200063,12967632,63,0.0,316777,63800000000,1628202297,NaN,NaN,0,2021-08-05 22:24:57,2518815,222712,1,63800000000
3,1296763200082,12967632,82,0.0,400000,59000001561,1628202297,NaN,NaN,0,2021-08-05 22:24:57,3816402,108088,1,59000001561
4,1296763200212,12967632,212,NaN,45038,45000000000,1628202297,NaN,NaN,0,2021-08-05 22:24:57,16782233,45038,1,45000000000

In [114]:
#transactions_receipts_df = transactions_receipts_df.reset_index()
transactions_receipts_df.columns

Index(['transaction_id', 'block_number', 'transaction_index', 'value', 'gas',
       'gas_price', 'block_timestamp', 'max_fee_per_gas',
       'max_priority_fee_per_gas', 'transaction_type', 'block_timestamp_2',
       'cumulative_gas_used', 'gas_used', 'status', 'effective_gas_price'],
      dtype='object')

In [115]:
# Calculate aggregated variables at block level
transactions_receipts_agg_df = transactions_receipts_df[['block_number', 'gas', 'gas_price', 'gas_used', 'effective_gas_price']]\
        .groupby('block_number').agg(['min', 'mean', 'count'])
transactions_receipts_agg_df.columns = transactions_receipts_agg_df.columns.map('_'.join).str.strip('_')
transactions_receipts_agg_df

,gas_min,gas_mean,gas_count,gas_price_min,gas_price_mean,gas_price_count,gas_used_min,gas_used_mean,gas_used_count,effective_gas_price_min,effective_gas_price_mean,effective_gas_price_count
block_number,,,,,,,,,,,,
12967000,21000,200955.573816,359,44527598174,7.651867e+10,359,21000,81151.727019,359,44527598174,7.651867e+10,359
12967001,21000,167389.685714,280,51325020417,5.895961e+10,280,21000,103929.925000,280,51325020417,5.895961e+10,280
12967002,21000,171688.036364,110,56352473907,7.016925e+10,110,21000,73549.800000,110,56352473907,7.016925e+10,110
12967003,21000,185849.473239,355,56457522458,8.312962e+10,355,21000,81771.769014,355,56457522458,8.312962e+10,355
12967004,21000,150822.420863,278,60872587740,7.411313e+10,278,21000,76010.032374,278,60872587740,7.411313e+10,278
...,...,...,...,...,...,...,...,...,...,...,...,...
12967996,21000,171284.842623,305,37197491994,4.350838e+10,305,21000,98109.586885,305,37197491994,4.350838e+10,305
12967997,21000,162486.658333,120,42000000000,5.411308e+10,120,21000,81723.575000,120,42000000000,5.411308e+10,120
12967998,21000,175991.000000,78,40034186630,6.627125e+10,78,21000,84295.730769,78,40034186630,6.627125e+10,78
12967999,21000,175584.340000,150,38249760517,4.041235e+10,150,21000,107131.693333,150,38249760517,4.041235e+10,150
12968000,21000,246061.270270,111,37560201358,5.852959e+10,111,21000,68604.243243,111,37560201358,5.852959e+10,111

In [116]:
# Keep only certain columns
transactions_receipts_agg_df = transactions_receipts_agg_df[['gas_min', 'gas_mean', 'gas_price_min', 'gas_price_mean', 
                                                            'gas_used_min', 'gas_used_mean', 'effective_gas_price_min',
                                                             'effective_gas_price_mean', 'effective_gas_price_count']]
transactions_receipts_agg_df.rename(columns={'effective_gas_price_count': 'number_transactions_in_block'}, inplace=True)
transactions_receipts_agg_df

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,gas_min,gas_mean,gas_price_min,gas_price_mean,gas_used_min,gas_used_mean,effective_gas_price_min,effective_gas_price_mean,number_transactions_in_block
block_number,,,,,,,,,
12967000,21000,200955.573816,44527598174,7.651867e+10,21000,81151.727019,44527598174,7.651867e+10,359
12967001,21000,167389.685714,51325020417,5.895961e+10,21000,103929.925000,51325020417,5.895961e+10,280
12967002,21000,171688.036364,56352473907,7.016925e+10,21000,73549.800000,56352473907,7.016925e+10,110
12967003,21000,185849.473239,56457522458,8.312962e+10,21000,81771.769014,56457522458,8.312962e+10,355
12967004,21000,150822.420863,60872587740,7.411313e+10,21000,76010.032374,60872587740,7.411313e+10,278
...,...,...,...,...,...,...,...,...,...
12967996,21000,171284.842623,37197491994,4.350838e+10,21000,98109.586885,37197491994,4.350838e+10,305
12967997,21000,162486.658333,42000000000,5.411308e+10,21000,81723.575000,42000000000,5.411308e+10,120
12967998,21000,175991.000000,40034186630,6.627125e+10,21000,84295.730769,40034186630,6.627125e+10,78
12967999,21000,175584.340000,38249760517,4.041235e+10,21000,107131.693333,38249760517,4.041235e+10,150
12968000,21000,246061.270270,37560201358,5.852959e+10,21000,68604.243243,37560201358,5.852959e+10,111

In [117]:
cols = ['gas_mean', 'gas_price_mean', 'gas_used_mean', 'effective_gas_price_mean', 'number_transactions_in_block']
for col in cols:
    # Last 5 blocks
    transactions_receipts_agg_df[col+'_pct_chg_last_5'] = transactions_receipts_agg_df[col]/transactions_receipts_agg_df[col].shift(5)-1
    # 25 blocks ago to 5 blocks ago percentage changes
    transactions_receipts_agg_df[col+'_pct_chg_last_25_to_5'] = transactions_receipts_agg_df[col].shift(5)/transactions_receipts_agg_df[col].shift(25)-1
    # 50 blocks ago to 5 blocks ago percentage changes
    transactions_receipts_agg_df[col+'_pct_chg_last_50_to_5'] = transactions_receipts_agg_df[col].shift(5)/transactions_receipts_agg_df[col].shift(50)-1
    # 100 blocks ago to 5 blocks ago percentage changes
    transactions_receipts_agg_df[col+'_pct_chg_last_100_to_5'] = transactions_receipts_agg_df[col].shift(5)/transactions_receipts_agg_df[col].shift(100)-1

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [118]:
transactions_receipts_agg_df.head()

,gas_min,gas_mean,gas_price_min,gas_price_mean,gas_used_min,gas_used_mean,effective_gas_price_min,effective_gas_price_mean,number_transactions_in_block,gas_mean_pct_chg_last_5,...,gas_used_mean_pct_chg_last_50_to_5,gas_used_mean_pct_chg_last_100_to_5,effective_gas_price_mean_pct_chg_last_5,effective_gas_price_mean_pct_chg_last_25_to_5,effective_gas_price_mean_pct_chg_last_50_to_5,effective_gas_price_mean_pct_chg_last_100_to_5,number_transactions_in_block_pct_chg_last_5,number_transactions_in_block_pct_chg_last_25_to_5,number_transactions_in_block_pct_chg_last_50_to_5,number_transactions_in_block_pct_chg_last_100_to_5
block_number,,,,,,,,,,,,,,,,,,,,,
12967000,21000,200955.573816,44527598174,7.651867e+10,21000,81151.727019,44527598174,7.651867e+10,359,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12967001,21000,167389.685714,51325020417,5.895961e+10,21000,103929.925000,51325020417,5.895961e+10,280,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12967002,21000,171688.036364,56352473907,7.016925e+10,21000,73549.800000,56352473907,7.016925e+10,110,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12967003,21000,185849.473239,56457522458,8.312962e+10,21000,81771.769014,56457522458,8.312962e+10,355,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12967004,21000,150822.420863,60872587740,7.411313e+10,21000,76010.032374,60872587740,7.411313e+10,278,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Contracts

In [11]:
# cols = [
#     'is_erc20', 'is_erc721', 'block_number'
# ]

# contracts_df = pd.read_sql(f"SELECT {', '.join(cols)} FROM ethereumetl.contracts where block_number between 13135426 and 13136426 ", conn)
# contracts_df.shape

(0, 3)

In [12]:
# contracts_df.head()

Empty DataFrame
Columns: [is_erc20, is_erc721, block_number]
Index: []

## Logs

In [13]:
# cols = [
#     'log_index', 'transaction_hash', 'transaction_index', 'block_hash', 'block_number',
#     'topics'
# ]

# logs_df = pd.read_sql(f"SELECT {', '.join(cols)} FROM ethereumetl.logs where block_number between 13135426 and 13136426 ", conn)
# logs_df.shape

(0, 6)

In [14]:
# logs_df.head()

Empty DataFrame
Columns: [log_index, transaction_hash, transaction_index, block_hash, block_number, topics]
Index: []

## Tokens

In [15]:
# cols = [
#     'symbol', 'name', 'decimals', 'total_supply', 'block_number'
# ]

# tokens_df = pd.read_sql(f"SELECT {', '.join(cols)} FROM ethereumetl.tokens where block_number between 13135426 and 13136426 ", conn)
# tokens_df.shape

(0, 5)

In [16]:
# tokens_df.head()

Empty DataFrame
Columns: [symbol, name, decimals, total_supply, block_number]
Index: []

## Token Transfers

In [22]:
# cols = [
#     'value', 'transaction_hash', 'log_index', 'block_number'
# ]

# token_transfers_df = pd.read_sql(f"SELECT {', '.join(cols)} FROM ethereumetl.token_transfers where block_number between 13135426 and 13136426 ", conn)
# token_transfers_df.shape

(0, 4)

In [18]:
# tokens_df.head()

Empty DataFrame
Columns: [symbol, name, decimals, total_supply, block_number]
Index: []

## Point In Time

In [119]:
# cols = [
#     'value', 'transaction_hash', 'log_index', 'block_number'
# ]

pit_df = pd.read_sql(f"SELECT * FROM ethereumetl.latest_avail_block_60 where number between 12967000 and 12968000 ", conn)
pit_df.shape

(1001, 5)

In [120]:
pit_df.head()

     number   timestamp  lag_cutoff  latest_avail  latest_avail_time
0  12967000  1628193763  1628193703      12966996         1628193692
1  12967001  1628193812  1628193752      12966998         1628193741
2  12967002  1628193818  1628193758      12966999         1628193758
3  12967003  1628193836  1628193776      12967000         1628193763
4  12967004  1628193911  1628193851      12967003         1628193836

In [121]:
pit_df = pit_df.set_index('number')
pit_df['latest_avail_time_dt'] = pd.to_datetime(pit_df['latest_avail_time'], unit='s')
pit_df.rename(columns={'lag_cutoff': 'lag_cutoff_60',
                       'latest_avail': 'latest_avail_60',
                      'latest_avail_time': 'latest_avail_time_60',
                      'latest_avail_time_dt': 'latest_avail_time_dt_60'},
             inplace=True)

In [122]:
pit_df.head()

,timestamp,lag_cutoff_60,latest_avail_60,latest_avail_time_60,latest_avail_time_dt_60
number,,,,,
12967000,1628193763,1628193703,12966996,1628193692,2021-08-05 20:01:32
12967001,1628193812,1628193752,12966998,1628193741,2021-08-05 20:02:21
12967002,1628193818,1628193758,12966999,1628193758,2021-08-05 20:02:38
12967003,1628193836,1628193776,12967000,1628193763,2021-08-05 20:02:43
12967004,1628193911,1628193851,12967003,1628193836,2021-08-05 20:03:56

#### Close connection

In [43]:
conn.close()

# Merge Data Sets

In [123]:
print("blocks length:", len(blocks_df))
print("pit length:", len(pit_df))
print("transactions length:", len(transactions_df))
print("receipts length:", len(transactions_df))
print("transactions_receipts_agg_df length:", len(transactions_receipts_agg_df))

blocks length: 1001
pit length: 1001
transactions length: 174891
receipts length: 174891
transactions_receipts_agg_df length: 988

In [140]:
# merged_df = blocks_df.merge(pit_df[['lag_cutoff_60', 'latest_avail_60', 'latest_avail_time_60', 'latest_avail_time_dt_60']],
#                         how='inner',
#                         left_index=True,
#                         right_index=True)

# Merge point-in-time with blocks
merged_df = pit_df[['lag_cutoff_60', 'latest_avail_60', 'latest_avail_time_60', 'latest_avail_time_dt_60']].merge(blocks_df,
                        how='inner',
                        left_index=True,
                        right_index=True)
merged_df.shape

(1001, 38)

In [141]:
print("Length of merged_df", len(merged_df))
merged_df.tail()

Length of merged_df 1001

,lag_cutoff_60,latest_avail_60,latest_avail_time_60,latest_avail_time_dt_60,difficulty,total_difficulty,size,gas_limit,gas_used,timestamp,...,size_pct_chg_last_50_to_5,size_pct_chg_last_100_to_5,gas_limit_pct_chg_last_5,gas_limit_pct_chg_last_25_to_5,gas_limit_pct_chg_last_50_to_5,gas_limit_pct_chg_last_100_to_5,base_fee_per_gas_pct_chg_last_5,base_fee_per_gas_pct_chg_last_25_to_5,base_fee_per_gas_pct_chg_last_50_to_5,base_fee_per_gas_pct_chg_last_100_to_5
number,,,,,,,,,,,,,,,,,,,,,
12967996,1628207151,12967995,1628207138,2021-08-05 23:45:38,None,None,140168,29941410,29923424,1628207211,...,-0.898650,-0.990351,-0.002927,0.003918,1.958754e-03,0.000976,-0.041441,0.228481,0.081993,0.048214
12967997,1628207160,12967995,1628207138,2021-08-05 23:45:38,None,None,45174,29970648,9806829,1628207220,...,-0.296480,6.455563,-0.000978,0.003918,4.766689e-06,0.000977,0.229902,0.175618,0.027008,-0.183145
12967998,1628207177,12967995,1628207138,2021-08-05 23:45:38,None,None,31605,29999915,6575067,1628207237,...,-0.892758,-0.955198,0.000975,0.003919,-1.946342e-03,-0.000976,0.070640,0.148623,0.003486,-0.004030
12967999,1628207186,12967995,1628207138,2021-08-05 23:45:38,None,None,135303,29970620,16069754,1628207246,...,4.255363,0.134903,-0.000978,0.003918,-9.333333e-07,0.000977,0.126532,0.082121,-0.103715,-0.165306
12968000,1628207187,12967995,1628207138,2021-08-05 23:45:38,None,None,36287,29999887,7615071,1628207247,...,-0.195872,-0.247058,0.000975,0.001960,-9.774333e-04,-0.000976,0.135890,0.170894,-0.003704,-0.147075

In [150]:
# Merge point-in-time/blocks with transactions_receipts_agg_df
pipeline_df = merged_df.merge(transactions_receipts_agg_df,
                        how='left',
                        left_index=True,
                        right_index=True)
pipeline_df.shape

(1001, 67)

In [151]:
pipeline_df.columns

Index(['lag_cutoff_60', 'latest_avail_60', 'latest_avail_time_60',
       'latest_avail_time_dt_60', 'difficulty', 'total_difficulty', 'size',
       'gas_limit', 'gas_used', 'timestamp', 'transaction_count',
       'base_fee_per_gas', 'timestamp_2', 'difficulty_pct_chg',
       'total_difficulty_pct_chg', 'size_pct_chg', 'gas_limit_pct_chg',
       'base_fee_per_gas_pct_chg', 'difficulty_pct_chg_last_5',
       'difficulty_pct_chg_last_25_to_5', 'difficulty_pct_chg_last_50_to_5',
       'difficulty_pct_chg_last_100_to_5', 'total_difficulty_pct_chg_last_5',
       'total_difficulty_pct_chg_last_25_to_5',
       'total_difficulty_pct_chg_last_50_to_5',
       'total_difficulty_pct_chg_last_100_to_5', 'size_pct_chg_last_5',
       'size_pct_chg_last_25_to_5', 'size_pct_chg_last_50_to_5',
       'size_pct_chg_last_100_to_5', 'gas_limit_pct_chg_last_5',
       'gas_limit_pct_chg_last_25_to_5', 'gas_limit_pct_chg_last_50_to_5',
       'gas_limit_pct_chg_last_100_to_5', 'base_fee_per_gas_pct_chg_last_5',
       'base_fee_per_gas_pct_chg_last_25_to_5',
       'base_fee_per_gas_pct_chg_last_50_to_5',
       'base_fee_per_gas_pct_chg_last_100_to_5', 'gas_min', 'gas_mean',
       'gas_price_min', 'gas_price_mean', 'gas_used_min', 'gas_used_mean',
       'effective_gas_price_min', 'effective_gas_price_mean',
       'number_transactions_in_block', 'gas_mean_pct_chg_last_5',
       'gas_mean_pct_chg_last_25_to_5', 'gas_mean_pct_chg_last_50_to_5',
       'gas_mean_pct_chg_last_100_to_5', 'gas_price_mean_pct_chg_last_5',
       'gas_price_mean_pct_chg_last_25_to_5',
       'gas_price_mean_pct_chg_last_50_to_5',
       'gas_price_mean_pct_chg_last_100_to_5', 'gas_used_mean_pct_chg_last_5',
       'gas_used_mean_pct_chg_last_25_to_5',
       'gas_used_mean_pct_chg_last_50_to_5',
       'gas_used_mean_pct_chg_last_100_to_5',
       'effective_gas_price_mean_pct_chg_last_5',
       'effective_gas_price_mean_pct_chg_last_25_to_5',
       'effective_gas_price_mean_pct_chg_last_50_to_5',
       'effective_gas_price_mean_pct_chg_last_100_to_5',
       'number_transactions_in_block_pct_chg_last_5',
       'number_transactions_in_block_pct_chg_last_25_to_5',
       'number_transactions_in_block_pct_chg_last_50_to_5',
       'number_transactions_in_block_pct_chg_last_100_to_5'],
      dtype='object')

In [152]:
pd.options.display.max_columns = None
pipeline_df.describe()

,lag_cutoff_60,latest_avail_60,latest_avail_time_60,size,gas_limit,gas_used,timestamp,transaction_count,base_fee_per_gas,size_pct_chg,gas_limit_pct_chg,base_fee_per_gas_pct_chg,size_pct_chg_last_5,size_pct_chg_last_25_to_5,size_pct_chg_last_50_to_5,size_pct_chg_last_100_to_5,gas_limit_pct_chg_last_5,gas_limit_pct_chg_last_25_to_5,gas_limit_pct_chg_last_50_to_5,gas_limit_pct_chg_last_100_to_5,base_fee_per_gas_pct_chg_last_5,base_fee_per_gas_pct_chg_last_25_to_5,base_fee_per_gas_pct_chg_last_50_to_5,base_fee_per_gas_pct_chg_last_100_to_5,gas_min,gas_mean,gas_price_min,gas_price_mean,gas_used_min,gas_used_mean,effective_gas_price_min,effective_gas_price_mean,number_transactions_in_block,gas_mean_pct_chg_last_5,gas_mean_pct_chg_last_25_to_5,gas_mean_pct_chg_last_50_to_5,gas_mean_pct_chg_last_100_to_5,gas_price_mean_pct_chg_last_5,gas_price_mean_pct_chg_last_25_to_5,gas_price_mean_pct_chg_last_50_to_5,gas_price_mean_pct_chg_last_100_to_5,gas_used_mean_pct_chg_last_5,gas_used_mean_pct_chg_last_25_to_5,gas_used_mean_pct_chg_last_50_to_5,gas_used_mean_pct_chg_last_100_to_5,effective_gas_price_mean_pct_chg_last_5,effective_gas_price_mean_pct_chg_last_25_to_5,effective_gas_price_mean_pct_chg_last_50_to_5,effective_gas_price_mean_pct_chg_last_100_to_5,number_transactions_in_block_pct_chg_last_5,number_transactions_in_block_pct_chg_last_25_to_5,number_transactions_in_block_pct_chg_last_50_to_5,number_transactions_in_block_pct_chg_last_100_to_5
count,1.001000e+03,1.001000e+03,1.001000e+03,1001.000000,1.001000e+03,1.001000e+03,1.001000e+03,1001.000000,1.001000e+03,1000.000000,1000.000000,1000.000000,996.000000,976.000000,951.000000,901.000000,996.000000,976.000000,951.000000,901.000000,996.000000,976.000000,951.000000,901.000000,988.000000,9.880000e+02,9.880000e+02,9.880000e+02,988.000000,988.000000,9.880000e+02,9.880000e+02,988.000000,983.000000,963.000000,938.000000,888.000000,983.000000,963.000000,938.000000,888.000000,983.000000,963.000000,938.000000,888.000000,983.000000,963.000000,938.000000,888.000000,983.000000,963.000000,938.000000,888.000000
mean,1.628201e+09,1.296749e+07,1.628201e+09,74384.190809,2.984144e+07,1.536109e+07,1.628201e+09,174.716284,4.450553e+10,5.564839,0.000030,0.003761,3.499322,3.346290,3.896573,3.798527,0.000152,0.000577,0.001234,0.002677,0.004189,-0.001346,-0.010576,-0.034183,21477.340081,1.807454e+05,4.607653e+10,6.101827e+10,21237.652834,89597.731641,4.607653e+10,6.101827e+10,177.015182,0.090629,0.109903,0.096862,0.102847,0.025479,0.021182,0.014852,0.002397,0.075881,0.075047,0.080644,0.082620,0.025479,0.021182,0.014852,0.002397,1.810718,1.732276,1.904469,1.855724
std,3.905558e+03,2.889922e+02,3.906175e+03,54235.581450,2.625489e+05,1.064436e+07,3.905558e+03,126.736543,7.839646e+09,26.952593,0.000872,0.089178,18.804164,18.010285,20.516355,20.379808,0.001704,0.002732,0.003626,0.005631,0.108505,0.134797,0.166714,0.163200,10989.472327,7.506843e+04,8.240546e+09,1.323230e+10,6971.851353,24110.851191,8.240546e+09,1.323230e+10,125.961730,0.552962,1.106492,0.572733,0.559807,0.250502,0.256464,0.259449,0.260697,0.463892,0.442535,0.458329,0.452003,0.250502,0.256464,0.259449,0.260697,8.439131,8.513350,9.241101,8.122385
min,1.628194e+09,1.296700e+07,1.628194e+09,537.000000,2.904910e+07,0.000000e+00,1.628194e+09,0.000000,2.818995e+10,-0.997165,-0.000977,-0.125000,-0.997427,-0.997369,-0.996485,-0.998040,-0.004873,-0.007791,-0.007791,-0.007789,-0.295313,-0.389268,-0.414373,-0.461227,21000.000000,4.147050e+04,2.893820e+10,3.510308e+10,21000.000000,21000.000000,2.893820e+10,3.510308e+10,1.000000,-0.883083,-0.934274,-0.745341,-0.757639,-0.701871,-0.656886,-0.694093,-0.479659,-0.817704,-0.834601,-0.784977,-0.808942,-0.701871,-0.656886,-0.694093,-0.479659,-0.987879,-0.989189,-0.993333,-0.996667
25%,1.628197e+09,1.296724e+07,1.628197e+09,26117.000000,2.988046e+07,5.465242e+06,1.628197e+09,62.000000,3.900565e+10,-0.714839,-0.000977,-0.079299,-0.594687,-0.585090,-0.610338,-0.608628,-0.000978,-0.000976,-0.000977,-0.000007,-0.065943,-0.096635,-0.124856,-0.150550,21000.000000,1.501082e+05,4.022805e+10,5.171488e+10,21000.000000,75829.168706,4.022805e+10,5.171488e+10,63.750000,-0.192831,-0.177408,-0.188921,-0.196312,-0.136510,-0.141749,-0.154970,-0.168227,-0.199575,-0.193360,-0.184413,-0.189140,-0.136510,-0.141749,-0.154970,-0.168227,-0.591663,-0.589225,-0.575898,-0.592026
50%,1.628200e+09,1.296750e+07,1.628200e+09,64511.000000,2.997065e+07,1.352129e+07,1.628200e+09,152.000000,4.285157e+10,-0.079517,0.000000,-0.010761,-0.010453,0.062271,0.005043,0.009051,0.000000,0.000000,0.000022,0.000976,-0.006893,-0.021178,-0.018242,-0.056124,21000.000000,1.704991e+05,4.444108e+10,5.858397e+10,21000.000000,88128.399599,4.444108e+10,5.858397e+10,154.500000,0.004681,0.010003,0.012847,0.007111,-0.005597,0.001098,-0.020377,-0.034618,-0.003936,0.002309,-0.011309,0.000802,-0.005597,0.001098,-0.020377,-0.034618,0.030418,0.048000,-0.011542,-0.024387
75%,1.628204e+09,1.296774e+07,1.628204e+09,117693.000000,2.999997e+07,2.838461e+07,1.628204e+09,277.000000,4.846178e+10,2.773031,0.000977,0.112417,1.396136,1.426699,1.560455,1.488038,0.000975,0.001945,0.002912,0.002936,0.065039,0.087115,0.082902,0.079754,21000.000000,1.990230e+05,4.982014e+10,6.798149e+10,21000.000000,100928.888413,4.982014e+10,6.798149e+10,278.000000,0.231809,0.242517,0.263020,0.264923,0.137265,0.156087,0.146624,0.124835,0.239017,0.212163,0.257801,0.245584,0.137265,0.156087,0.146624,0.124835,1.444949,1.334666,1.407554,1.294662
max,1.628207e+09,1.296800e+07,1.628207e+09,274436.000000,3.005862e+07,3.004458e+07,1.628207e+09,672.000000,6.921873e+10,377.355680,0.000977,0.124999,291.357798,268.554935,303.561243,276.600368,0.004892,0.009803,0.014734,0.022769,0.502709,0.491052,0.612722,0.679568,360730.000000,1.792072e+06,8.030000e+10,1.650785e+11,239556.000000,265997.617647,8.030000e+10,1.650785e+11,672.000000,7.771932,31.289589,7.969271,8.950340,2.122559,1.802607,1.521896,2.011163,4.158440,3.337386,3.983998,3.261163,2.122559,1.802607,1.521896,2.011163,164.500000,203.000000,151.666667,140.500000

In [154]:
pipeline_df.index

Int64Index([12967000, 12967001, 12967002, 12967003, 12967004, 12967005,
            12967006, 12967007, 12967008, 12967009,
            ...
            12967991, 12967992, 12967993, 12967994, 12967995, 12967996,
            12967997, 12967998, 12967999, 12968000],
           dtype='int64', name='number', length=1001)

# Save the final data set

In [153]:
from io import StringIO 
import boto3

bucket = 'sagemaker-w210-eth' # already created on S3
csv_buffer = StringIO()
pipeline_df.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'pipeline_df.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '8P9Y497J453D4K20',
  'HostId': '6SLRw0WTyfQAaKKY5Owyqjgg0recMmOTHwk0T1lkIE6Jv7TDRQ3ZYHBvfpCLWLKllDTRiXw3Crg=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '6SLRw0WTyfQAaKKY5Owyqjgg0recMmOTHwk0T1lkIE6Jv7TDRQ3ZYHBvfpCLWLKllDTRiXw3Crg=',
   'x-amz-request-id': '8P9Y497J453D4K20',
   'date': 'Sun, 31 Oct 2021 14:41:10 GMT',
   'etag': '"94f621dd63ca8663548ac49c9aa17c67"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"94f621dd63ca8663548ac49c9aa17c67"'}

In [30]:
import boto3

#Creating Session With Boto3.
session = boto3.Session(
aws_access_key_id='AKIA6EMRUDUYMRW4LO7W',
aws_secret_access_key='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'
)

#Creating S3 Resource From the Session.
s3 = session.resource('s3')

#txt_data = b'This is the content of the file uploaded from python boto3 asdfasdf'

object = s3.Object('sagemaker-w210-eth', 'b.csv')

result = object.put()

In [ ]:
import boto3

#Creating Session With Boto3.
session = boto3.Session(
aws_access_key_id='AKIA6EMRUDUYMRW4LO7W',
aws_secret_access_key='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'
)

#Creating S3 Resource From the Session.
s3 = session.resource('s3')

object = s3.Object('sagemaker-w210-eth', 'b')

result = object.put(Body=open('b', 'rb'))

res = result.get('ResponseMetadata')

if res.get('HTTPStatusCode') == 200:
    print('File Uploaded Successfully')
else:
    print('File Not Uploaded')

In [31]:
b

,number,difficulty,total_difficulty,size,gas_limit,gas_used,timestamp,transaction_count,base_fee_per_gas
0,13135426,None,None,91847,30000000,18839197,1630440888,168,1.525715e+11
1,13135427,None,None,10846,30000000,1607088,1630440900,17,1.574528e+11
2,13135428,None,None,159021,30000000,21150044,1630440903,297,1.398798e+11
3,13135429,None,None,175048,30000000,29989501,1630440904,438,1.470487e+11
4,13135430,None,None,3451,29970705,669793,1630440936,18,1.654170e+11

In [32]:
#s3 = boto3.resource('s3')
obj = s3.Object('sagemaker-w210-eth', 'b')
b2 = obj.get()['Body'].read()

In [33]:
b2

b''

In [36]:
# Read from S3
s3 = boto3.client('s3')
obj = s3.get_object(Bucket='sagemaker-w210-eth', Key='b.csv')
a = pd.read_csv(obj['Body'])
a.head()

,Unnamed: 0,number,difficulty,total_difficulty,size,gas_limit,gas_used,timestamp,transaction_count,base_fee_per_gas
0,0,13135426,NaN,NaN,91847,30000000,18839197,1630440888,168,1.525715e+11
1,1,13135427,NaN,NaN,10846,30000000,1607088,1630440900,17,1.574528e+11
2,2,13135428,NaN,NaN,159021,30000000,21150044,1630440903,297,1.398798e+11
3,3,13135429,NaN,NaN,175048,30000000,29989501,1630440904,438,1.470487e+11
4,4,13135430,NaN,NaN,3451,29970705,669793,1630440936,18,1.654170e+11